html, body {
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 825px;
  width: 1440px;
}

.inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00ffaa;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  transition: all .4s ease;
}

.inside:hover {
  transform: translateY(-5px);
}

@keyframes what {
  0% {
    box-shadow: 0 0 0 0 #00eaffa0;
  }
  50% {
    transform: scale(1.02);
    box-shadow: 0 0 0 10px #00eaffa0;
  }
  100% {
    transform: scale(1.0);
    box-shadow: 0 0 0 20px rgba(0, 174, 255, 0); 
  }
}

@keyframes who {
  0% {
    background-color: hwb(197 0% 0%);
  }
  17% {
    background-color: hwb(256 0% 0%);
  }
  33% {
    background-color: hwb(302 0% 0%);
  }
  49% {
    background-color: #ff0000;
  }
  66% {
    background-color: #eeff00;
  }
  83% {
    background-color: #15ff00;
  }
  100% {
    background-color: #00b7ff;
  }
}


.hp {
  display: flex;
  position: relative;
  top: 24px;
  background-color: #00b7ff;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.hp:hover {
  animation: who 6s linear infinite;
}

.bt {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 140px;
  background-color: #00eaff;
  height: 60px;
  width: 180px;
  border-radius: 10px;
}

.bt:hover {
  animation: what 2s linear infinite;
}
